<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <style>

    </style>

</head>
<body>
    <div id="wrap">
        
        <!-- 해더 -->
        <div id="header" class="clearfix">
            <!-- 로고 -->
            <h1>MySite</h1>
            
            <!-- 로그인관련버튼 -->
            <ul class="clearfix">
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">회원가입</a>
                </li>
            </ul>
        </div>
        <!-- //해더 -->

        <!-- 네비(상단메뉴 GNB) -->
        <div id="nav">
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </div>
        <!-- //네비(상단메뉴 GNB) -->
        
        <div>컨텐츠</div>

        <!-- 푸터 -->
        <div id="footer">
            <p>Copyright &#169; 2024 황일영. All right reserved</p>
        </div>
        <!-- //푸터 -->
    </div>
</body>
</html>