@charset "UTF-8";
#wrap {
    width: 1000px;
    margin: 0 auto;
}

#header{
    padding: 5px 0px;
    background-color: #d6d6d6; 
    border-bottom: 1px solid #A6A6A6;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    border: 1px solid red;
}

#header h1>a{
    font-size: 36px;
    font-weight: bold;
    color:#79B30B;
}

#wrap #header ul{
    border: 1px solid red;
    width: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 상단버튼 */
#wrap #header ul li{
    padding: 4px 6px 4px 6px;
    border: 1px solid #bfbfbf; 
    border-radius: 2px; 
    background-color: #ffffff;
    font-size: 10px;
}

#wrap #nav {
    border-bottom: 1px solid red; 
}

#wrap #nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#wrap #nav ul li {
    padding: 15px;

    flex-basis: auto;
    flex-grow:1;
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
 
}


#index {
    padding: 20px;

    display: flex;
    flex-direction: row;
    
}